<div id="header">
  <div id="hamburger">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </div>
  <div id="name" (click)="this.navigation.navigate('/home')"><h1>AILKO</h1></div>
  <div id="header-select"></div>
  <div class="logos">
    <div>
      <a href="https://github.com/Ailko" target="_blank">
        <img class="logo" src="../../../assets/pictures/logos/GitHub/github-mark-white.svg" alt="GitHub logo"/>
      </a>
    </div>
  </div>
</div>
